extends layout

block content
  h1.mb-4 Add New Flashcard
  
  if errors && errors.length
    .alert.alert-danger
      ul.mb-0
        each error in errors
          li= error.msg

  .form-container
    .card.shadow
      .card-body
        form(action="/flashcards", method="POST")
          .form-group
            label.form-label(for="term") Term
            input.form-control(
              type="text", 
              id="term", 
              name="term", 
              value=formData ? formData.term : '',
              required
            )
          
          .form-group
            label.form-label(for="definition") Definition
            textarea.form-control(
              id="definition", 
              name="definition", 
              rows="3", 
              required
            )= formData ? formData.definition : ''
          
          .form-group
            label.form-label(for="language") Language
            select.form-select(id="language", name="language", required)
              option(value="") Select a language
              option(value="English", selected=formData && formData.language === 'English') English
              option(value="Spanish", selected=formData && formData.language === 'Spanish') Spanish
              option(value="French", selected=formData && formData.language === 'French') French
              option(value="German", selected=formData && formData.language === 'German') German
              option(value="Italian", selected=formData && formData.language === 'Italian') Italian
              option(value="Chinese", selected=formData && formData.language === 'Chinese') Chinese
              option(value="Japanese", selected=formData && formData.language === 'Japanese') Japanese
              option(value="Korean", selected=formData && formData.language === 'Korean') Korean
              option(value="Russian", selected=formData && formData.language === 'Russian') Russian
              option(value="Uzbek", selected=formData && formData.language === 'Uzbek') Uzbek
              option(value="Tajik", selected=formData && formData.language === 'Tajik') Tajik
              option(value="Arabic", selected=formData && formData.language === 'Arabic') Arabic
              option(value="Portuguese", selected=formData && formData.language === 'Portuguese') Portuguese
              option(value="Other", selected=formData && formData.language === 'Other') Other
          
          .form-actions
            a.btn.btn-secondary(href="/flashcards") Cancel
            button.btn.btn-primary(type="submit") Create Flashcard